.y{
    color: mediumspringgreen;
    background-color: yellow;
}
.a{
    color: yellow;
    background-color: greenyellow;
}
.o{
    color: yellow;
    background-color: greenyellow;
}
.am{
    color: yellow;
    background-color: greenyellow;
}
.e{
    color: yellow;
    background-color: greenyellow;
}
.n{
    color: yellow;
    background-color: greenyellow;
}
.an{
    color: yellow;
    background-color: greenyellow;
}
.mo{
    color: yellow;
    background-color: greenyellow;
}
.des{
    color: yellow;
    background-color: greenyellow;
}
.tine{
    color: yellow;
    background-color: greenyellow;
}
